* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  font: 16px/28px arial, sans-serif;
  background-image: url("https://wallpapers.com/images/featured/sushi-sx5qr0ar8hl5ar8h.jpg");
  color: #ffffff;
  background-size: cover;
}

.container {
  width: 800px;
  margin: auto;
  background-color: #72c629;
}

.header {
  padding: 15px;
}

.header ul li {
  display: inline-block;
  margin-right: 5px;
}

.header a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.container .header ul {
  margin-left: -10px;
  margin-top: 20px;
}

.header a:hover {
  background-color: saddlebrown;
  color: white;
}

.hero {
  height: 380px;
  background-size: cover;
  background-image: url(https://cdn.media.amplience.net/i/japancentre/recipes-1541-uramaki-inside-out-sushi-roll/Uramaki-inside-out-sushi-roll?$poi$&w=700&h=410&sm=c&fmt=auto);
}

.content {
  padding: 15px;
}

.content a {
  color: rgb(249, 241, 207);
}

.footer {
  display: flex;
  background-color: rgb(245, 220, 187);
  color: rgb(121, 116, 116);
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0 5px;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table,
tr,
th,
td {
  border: 2px rgb(121, 116, 116) solid;
}

table tr td,
th {
  padding: 10px;
}

table tr td i {
  font-size: 8px;
}
